.header {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #CC0000;
}
.header__content{
  width: 100%;
  max-width: 1230px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 250px;
}

.header__tel{
  text-decoration: none;
}
.header__contacts{
  display: flex;
  align-items: center;

}
.header__button{
  border: none;
  background-color: hsl(150, 100%, 80%);
  width: 131px;
  height: 31px;
  border-radius: 5px;
  color: #CC0000;
}